body{
    background-color: #0D0D0D;
    margin: 0px;
}
.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    color: aliceblue;
    font-size: large;
}
#nav{
    width: 100%;
    height: 70px;
    background-color: #0F1F1F;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#name,#apc{
    display: inline-block;
}
#name{
    margin-right: 670px;
    margin-left: 15px;
    
}
#about_nav,#project_nav,#contact_nav{
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    font-size: larger;
    padding: 2px 8px 2px 8px;
}
#about_nav:hover,#project_nav:hover,#contact_nav:hover{
    /* text-decoration: underline; */
    background-color: #5bcbcb98;
    box-shadow: 0 0 8px #29fae9;
    border-color: #3dfaea;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
#top{

    /* width: 350px; */
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 300px; */
}
#top_pic{
    width: 300px;
    border-radius: 150px;
    /* border-width: 2px;
    border-style: dashed;
    border-color: rgb(158, 129, 129); */
    display: inline-block;
    margin-left: 55px;
}
#top_text{
    display: inline-block;
    font-weight: 900;
    font-size: 30px;
    margin-left: 120px;
    vertical-align: top;

}
#top_text_aspiring{
    /* font-weight: 500;
    font-size: 22px;
    margin-left: 120px;
    vertical-align: top; */
    font-size:22px; 
    color:#14FFEC;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  /* border-left: 5px solid; */
  padding-left: 100px;
  margin-bottom: 20px;
}

#content,#about_box,#skills_box #projects_box, #contact_box{
    align-content: center;
    margin-left: 40px;
}
#skill_box{
    margin-left: 60px;
}
.skill_element{
    display: inline-block;
    border: 1px solid #00A8A8;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 0px;
    background-color: #0F1F1F;
    transition: all 0.3s ease;
}
.skill_element:hover{
    background-color: #14FFEC;
    color: black;
    box-shadow: 0 0 10px #14FFEC;
}
/* ul{
    line-height: 17px;
} */
.project_heading{
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0px 5px 0px;
    /* padding-bottom: x; */

}
.project_discription{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    width: 400px;

}
#project_1,#project_2{
    display: inline-block;
    text-align: center;
    margin:20px;
    vertical-align: top;
    padding: 0px 15px 0px 10px;
    /* background-color: rgba(31, 155, 174, 0.35); */
    background-color: #0F1F1F;
    border: 1px solid #00A8A8;
    border: 2px solid white;
        /* width: 450px; */

}
.project_img{
    width: 400px;
    height: 300px;
    /* margin-left: 15px; */
}
#project_link {
    display: inline-block;
    width: fit-content;
    margin: 10px 0px 10px 0px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #00A8A8;
    border: 1px solid #14FFEC;
    color: black;
    transition: all 0.3s ease;

    /* background-color: rgb(42, 92, 79); */
    /* border: 2px solid white; */
}
#project_link:hover {
    /* text-decoration: underline; */
    background-color: #14FFEC;
    color: black;
    font-size: larger;
    box-shadow: 0 0 10px #14FFEC;
}

